@page "/build"
@inject IBananaService BananaService
@inject IUnitService UnitService
@inject IToastService ToastService
@attribute [Authorize]

<PageTitle>OptechX Portal</PageTitle>

<h3>Build</h3>

<div class="form-group mb-3">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in UnitService.Units)
        {
            <option value="@unit.Id">@unit.Title // @unit.BananaCost</option>
        }
    </select>
</div>

<button class="btn btn-primary" @onclick="BuildUnit">Build</button>

<button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("I'm an INFO message"))">Info Toast</button>

@if (needMoreBananas)
{
    <div class="validation-message">
        Not enough bananas! :(
    </div>
}

@code {
    int selectedUnitId = 1;
    bool needMoreBananas = false;

    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);

        if (BananaService.Bananas < selectedUnit?.BananaCost)
        {
            needMoreBananas = true;
            ToastService.ShowError("Not enough bananas");
            return;
        }

        needMoreBananas = false;

        BananaService.EatBananas(selectedUnit!.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }
}

