@page "/buildimage"
@using OptechX.Portal.Shared.Models.Engine.ImageBuilds
@inject IToastService ToastService

<PageTitle>OptechX Portal</PageTitle>

<EditForm Model="imageBuild">
    <!-- ROW -->
    <div class="row mb-3">
        <!-- COLUMN 1 -->
        <div class="col-6">
            <!-- Windows Release (Win10, Win11) -->
            <div class="form-group mb-4">
                <label for="release">Release</label>
                @if (!isReleaseReadOnly)
                {
                    <InputSelect id="release"
                                 class="form-control"
                                 ValueExpression="@(()=>imageBuild.WindowsRelease)"
                                 Value="@imageBuild.WindowsRelease"
                                 ValueChanged="@((string value) => OnReleaseChanged(value))">
                        <option value="Windows 10">Windows 10</option>
                        <option value="Windows 11">Windows 11</option>
                    </InputSelect>
                }
                else
                {
                    <input id="release" value="@imageBuild.WindowsRelease" class="form-control" readonly />
                }
            </div>
        </div>
    </div>
</EditForm>

@code {
    ImageBuildBasic imageBuild = new();
    bool isReleaseReadOnly;

    protected override void OnInitialized()
    {
        // Set the flag when the page loads
        isReleaseReadOnly = false;
    }

    private Task OnReleaseChanged(string value)
    {
        imageBuild.WindowsRelease = value;
        isReleaseReadOnly = true;
        return Task.CompletedTask;
    }
}
