@page "/buildimage2"
@using OptechX.Portal.Client.Shared
@using OptechX.Portal.Shared.Models.Forms
@using OptechX.Portal.Shared.Models.Engine.ImageBuilds
@inject IToastService ToastService
@inject IFormsService FormsService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>OptechX Portal</PageTitle>

<AuthorizeView>
    <Authorized>
        <BuildImage02Component />
    </Authorized>
    <NotAuthorized>
        <p>User is not authorized. Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string accountId = string.Empty;

    private string? param1;
    private string? param2;
    private string? param3;
    private string? param4;
    private string? param5;
    private string? param6;

    protected override async Task OnInitializedAsync()
    {
        var isAuthd = await LocalStorage.GetItemAsync<string>("authToken");
        if (!string.IsNullOrEmpty(isAuthd))
        {
            accountId = await GetAccountId();
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
        await GetRequiredParams();
    }

    private async Task<string> GetAccountId()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var accountIdClaim = authenticationState.User.Claims.FirstOrDefault(claim => claim.Type == "AccountId"); //"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");
        if (!string.IsNullOrEmpty(accountIdClaim?.Value))
        {
            return accountIdClaim!.Value;
        }
        else
        {
            return Guid.Empty.ToString();
        }
    }

    private async Task GetRequiredParams()
    {
        try
        {
            param1 = await LocalStorage.GetItemAsStringAsync("imageParam1") ?? null;
            param2 = await LocalStorage.GetItemAsStringAsync("imageParam2") ?? null;
            param3 = await LocalStorage.GetItemAsStringAsync("imageParam3") ?? null;
            param4 = await LocalStorage.GetItemAsStringAsync("imageParam4") ?? null;
            param5 = await LocalStorage.GetItemAsStringAsync("imageParam5") ?? null;
            param6 = await LocalStorage.GetItemAsStringAsync("imageParam6") ?? null;

            bool allParamsNotEmpty = new[] { param1, param2, param3, param4, param5, param6 }.All(p => string.IsNullOrWhiteSpace(p));

            if (allParamsNotEmpty)
            {
                ToastService.ShowError("Image build process not started, redirecting...");
                NavigationManager.NavigateTo("/buildimage");
            }
        }
        catch
        {
            ToastService.ShowError("Image build process not started, redirecting...");
            NavigationManager.NavigateTo("/buildimage");
        }
    }
}
