@page "/imagebuilder"
@inject IToastService ToastService
@attribute [Authorize]

<PageTitle>OptechX Portal</PageTitle>

<h3>Image Builder</h3>

<EditForm Model="UserAccountService.UserDatas" OnValidSubmit="HandlePublishUpdate">


</EditForm>

@code {

}
