@page "/"

<PageTitle>OptechX Portal</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>OptechX Portal</h3>
        <h5>Hi @context?.User?.Identity?.Name Welcome back!  </h5>
        Let's admire your <a href="army">your beloved army</a>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>


