@page "/tickrow"

<div class="container">
    <div class="row-item mb-2">
        <div class="circle-yellow"></div>
        <div class="text">Affirmative action result</div>
    </div>

    <div class="row-item mb-2">
        <div class="circle-green"></div>
        <div class="text">Affirmative action result</div>
    </div>

    <div class="row-item mb-2">
        <div class="circle-red"></div>
        <div class="text">Affirmative action result</div>
    </div>

    <div class="row-item mb-2">
        <div class="circle-blue"></div>
        <div class="text">Affirmative action result</div>
    </div>
</div>
