@page "/account/settings"
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<PageTitle>OptechX Portal</PageTitle>

<AuthorizeView>
    <Authorized>
        
    </Authorized>
    <NotAuthorized>
        <p>User is not authorized. Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        var userIsAuthorized = await LocalStorageService.GetItemAsync<string>("authToken");
        if (!string.IsNullOrEmpty(userIsAuthorized))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}