<h5>Instructions</h5>

<ul>
    <li>
        <strong>Windows Release</strong> Select the release of Windows to use as a base image.
    </li>
    <li>
        <strong>Edition:</strong> Choose from the available Editions of Windows based on Release to use. This allows different core technologies to be used out of the box.
    </li>
    <li>
        <strong>Build:</strong> Windows Build is the date code used by Microsoft to indicate which security patches are installed in the base image. Selecting the first item includes the latest security patches and bug fixes and is usually considered the best choice.
    </li>
    <li>
        <strong>CPU Arch:</strong> Select the CPU architecture to target. <strong>x64</strong> is recommended for corporate use by Microsoft on earlier editions and only available from Build 2004 inclusive. Drivers and Applications available are dependant on the CPU Arch selected.
    </li>
    <li>
        <strong>Language:</strong> Base language for Windows installation.
    </li>
    <li>
        <strong>Image Format:</strong> Image Format is the deliverable media format. For deployments, WIM is the recommended option.
    </li>
</ul>

<p>Once each option is selected, OptechX will store the data and allow you to make the next decision. Use the <strong>Reset Form</strong> button to start again.</p>