<h5>Instructions</h5>

<p>Scroll the table for <strong>Applications</strong> and <strong>Drivers</strong> to find the items you wish to include in your SOE image. Select the items by clicking on the checkbox to add it to the list.</p>

<ul>
    <li><i class="bi bi-check-square"></i> is a selected item</li>
    <li><i class="bi bi-square"></i> is an unselected item</li>
</ul>

<p>Press the <strong>Save Applications</strong> and <strong>Save Drivers</strong> buttons once the selections are confirmed. This will enable the <strong>Submit</strong> button to be enabled.</p>

<p>Once each option is selected, OptechX will store the data and allow you to make the next decision. Use the <strong>Reset Form</strong> button to start again.</p>
