@using OptechX.Portal.Shared.Models.Engine.ImageBuilds

<!-- BUILD HISTORY AND LATEST APPLICATION UPDATES -->
<div class="row d-none d-md-flex justify-content-center">
    <div class="col-md-6 col-12 mb-4">
        <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
            <table class="table table-responsive custom-table" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Order Date</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Status</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Release</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Edition</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ImageBuildBasic build in ImageBuilds)
                    {
                        <tr>
                            <td>
                                @build.OrderDate.ToString("yyyy-MM-dd")
                            </td>
                            <td style="display: flex; align-items: center;">
                                @switch (build.OrderLifecycle)
                                {
                                    case "SUBMITTED":
                                        <img src="/icons/twttrbs/inbox.svg" alt="Submitted" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                        break;
                                }
                            </td>
                            <td>
                                @switch (build.WindowsRelease)
                                {
                                    case "Windows 10":
                                        <img src="/icons/windows/win10.png" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                        break;
                                    case "Windows 11":
                                        <img src="icons/windows/win11.png" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                        break;
                                }
                            </td>
                            <td>
                                @build.WindowsEdition
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ImageBuildBasic> ImageBuilds { get; set; }
} 