@using OptechX.Portal.Shared.Models.User
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>OptechX Portal</PageTitle>

<h3>Set New Password</h3>

<EditForm Model="setPasswordRequest" OnValidSubmit="HandleSetPasswordRequest">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <!-- Set Password Token -->
    <div class="form-group mb-3">
        <label for="token">Password Reset Token</label>
        <InputText id="token" @bind-Value="setPasswordRequest.PasswordResetToken" class="form-control"></InputText>
        <ValidationMessage For="@(() => setPasswordRequest.PasswordResetToken)" />
    </div>

    <div class="form-group mb-3">
        <label for="password">New Password</label>
        <InputText id="password" @bind-Value="setPasswordRequest.Password" class="form-control" type="password"></InputText>
        <ValidationMessage For="@(() => setPasswordRequest.Password)" />
    </div>

    <div class="form-group mb-3">
        <label for="passwordConfirm">Confirm New Password</label>
        <InputText id="passwordConfirm" @bind-Value="setPasswordRequest.ConfirmPassword" class="form-control" type="password"></InputText>
        <ValidationMessage For="@(() => setPasswordRequest.ConfirmPassword)" />
    </div>

    <!-- Submit button -->
    @if (showSubmitButton)
    {
        <button type="submit" class="btn btn-primary mb-3">Reset Password</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary btn-secondary" style="cursor: not-allowed; color: grey; font-style: italic;" disabled>Requesting...</button>
    }
</EditForm>

<p>To set a new password, please provide the following information:</p>

<ul>
    <li>
        <strong>Password Reset Token:</strong> This token was sent to your registered email address. It ensures the security of your account and verifies your identity. Please enter the token in the designated field.
    </li>
    <li>
        <strong>New Password:</strong> Choose a strong and unique password for your account. Make sure it meets the required criteria and helps keep your account secure.
    </li>
    <li>
        <strong>Confirm Password:</strong> Re-enter your new password to confirm its accuracy and ensure there are no typing errors.
    </li>
</ul>

<p>Once you have filled in all the required fields, click the "Reset Password" button to complete the process.</p>

<p>If you encounter any issues or need further assistance, please don't hesitate to reach out to our support team. We're here to help!</p>

<p>Thank you for choosing our service, and we appreciate your cooperation in securing your account.</p>

@code {
    private bool showSubmitButton;
    private SetPasswordRequest setPasswordRequest = new();

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var token = query["token"];
        if (!string.IsNullOrEmpty(token))
        {
            setPasswordRequest.PasswordResetToken = token;
        }
        showSubmitButton = true;
    }

    private async Task HandleSetPasswordRequest()
    {
        showSubmitButton = false;
        ToastService.ShowSuccess("Password reset submitted");
        var response = await AuthService.SetNewPassword(request: setPasswordRequest);
        switch (response.Data)
        {
            case true:
                ToastService.ShowSuccess(response.Message!);
                ToastService.ShowInfo("Redirecting...");
                await Task.Delay(1000);
                NavigationManager.NavigateTo("/");
                break;
            default:
                ToastService.ShowError(response.Message!);
                showSubmitButton = true;
                break;
        }
    }
}

